@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./Inter-VariableFont_slnt\wght.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Style Script";
  src: local("Style Script"), url(./StyleScript-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "STSong";
  src: local("STSong"), url(./STSong.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
